# Install WRDS

In [5]:
pip install wrds

Collecting wrds
  Using cached wrds-3.1.6-py3-none-any.whl (12 kB)
Collecting sqlalchemy<2
  Downloading SQLAlchemy-1.4.48-cp310-cp310-win_amd64.whl (1.6 MB)
     ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
     ------------- -------------------------- 0.5/1.6 MB 16.8 MB/s eta 0:00:01
     --------------------------- ------------ 1.1/1.6 MB 13.7 MB/s eta 0:00:01
     ---------------------------------------  1.6/1.6 MB 14.2 MB/s eta 0:00:01
     ---------------------------------------- 1.6/1.6 MB 11.2 MB/s eta 0:00:00
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.6-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
     ---------------- ----------------------- 0.5/1.2 MB 15.5 MB/s eta 0:00:01
     ----------------------------- ---------- 0.9/1.2 MB 9.2 MB/s eta 0:00:01
     ---------------------------------------  1.2/1.2 MB 9.2 MB/s eta 0:00:01
     ---------------------------------------- 1.2/1.2 MB 8.2 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from wrds) (2.0.2)
Requirement already satisfied: numpy in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from wrds) (1.24.3)
Requirement already satisfied: scipy in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from wrds) (1.10.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-win_amd64.whl (192 kB)
     ---------------------------------------- 0.0/192.2 kB ? eta -:--:--
     ------------------------------------- 192.2/192.2 kB 12.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from pandas->wrds) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from pandas->wrds) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\final\anaconda3\envs\sem 3\lib\site-packages (from python-dateutil>=2.8.2->pandas->wrds) (1.16.0)
Installing collected packages: psycopg2-binary, greenlet, sqlalchemy, wrds
Successfully installed greenlet-2.0.2 psycopg2-binary-2.9.6 sqlalchemy-1.4.48 wrds-3.1.6
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd
import numpy as np

# Extract S&P CIK codes

In [21]:
sp_500 = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")[0]
sp_500
cik = []
for i in range(len(sp_500["CIK"])):
    temp = str(sp_500["CIK"][i])
    while len(temp) != 10:
        temp = "0" + temp
    cik.append(temp)
sp_500["CIK"] = pd.Series(cik)

In [22]:
sp_500

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952

# Import WRDS and connect to web (enter your credentials when prompted)

In [23]:
import wrds
db = wrds.Connection()

WRDS recommends setting up a .pgpass file.
Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

# Look at all the tables available under ciq library

In [24]:
db.list_tables("ciq")

['chars',
 'ciqaddress',
 'ciqaddresstype',
 'ciqadvisortype',
 'ciqbusinessdescription',
 'ciqbusinessdescriptionlong',
 'ciqcapstdtasrptdclasstype',
 'ciqcapstdtclasstype',
 'ciqcapstdtcompntasrptddata',
 'ciqcapstdtcomponent',
 'ciqcapstdtconvertibletype',
 'ciqcapstdtcumulativetype',
 'ciqcapstdtdescription',
 'ciqcapstdtintbenchmarktype',
 'ciqcapstdtinterestrate',
 'ciqcapstdtintratetype',
 'ciqcapstdtleveltype',
 'ciqcapstdtnonrecoursetype',
 'ciqcapstdtparticipatingtype',
 'ciqcapstdtredeemabletype',
 'ciqcapstdtsecuredtype',
 'ciqcapstdtsubtype',
 'ciqcapstdttype',
 'ciqcapsteqauthrzdsharestype',
 'ciqcapsteqcomponent',
 'ciqcapsteqcomponentdata',
 'ciqcapsteqconvertibletype',
 'ciqcapsteqsubtype',
 'ciqcapsteqtype',
 'ciqcapsteqvotingrightstype',
 'ciqchartype',
 'ciqchartypetosubtype',
 'ciqcommittee',
 'ciqcompany',
 'ciqcompanyindustrytree',
 'ciqcompanyrel',
 'ciqcompanyreltype',
 'ciqcompanystatustype',
 'ciqcompanytype',
 'ciqcompensation',
 'ciqcompensationadjustment',
 'ciqcompensationadjustmenttype',
 'ciqcompensationdetail',
 'ciqcompensationsubtype',
 'ciqcompensationtype',
 'ciqcountry',
 'ciqcountrygeo',
 'ciqcurrency',
 'ciqdataitem',
 'ciqdataitembankregulatory',
 'ciqdataitemconversionrule',
 'ciqdataitemestimate',
 'ciqdataitemestimaterel',
 'ciqdataitemestimatereltype',
 'ciqdataitemfinancial',
 'ciqdataitemformulametric',
 'ciqdataitemgroup',
 'ciqdataitemgrouptodataitem',
 'ciqdataitemindex',
 'ciqdataitemindexlevelval',
 'ciqdataitemtransaction',
 'ciqexchange',
 'ciqexchangerate',
 'ciqfinancialdataset',
 'ciqfincollection',
 'ciqfincollectiondata',
 'ciqfindatacollectiontype',
 'ciqfininstance',
 'ciqfininstancetocollection',
 'ciqfininstancetocollecttype',
 'ciqfininstancetype',
 'ciqfinperiod',
 'ciqfinstatementrestatetype',
 'ciqfinunittype',
 'ciqgvkeyiid',
 'ciqindextradingitemtype',
 'ciqindustrytosic',
 'ciqkeydev',
 'ciqkeydeveventtype',
 'ciqkeydevobjectroletype',
 'ciqkeydevstatus',
 'ciqkeydevtoobjecttoeventtype',
 'ciqobjecttype',
 'ciqperiodtype',
 'ciqperson',
 'ciqpersonbiography',
 'ciqprofessional',
 'ciqprofessionalcoverage',
 'ciqprofunction',
 'ciqprotoprofunction',
 'ciqreportingtemplatetype',
 'ciqrestatementtype',
 'ciqsecurity',
 'ciqsecuritygroup',
 'ciqsecuritysubtype',
 'ciqsecuritytype',
 'ciqstate',
 'ciqsubtype',
 'ciqsymbol',
 'ciqsymboltype',
 'ciqtradingitem',
 'ciqtradingitemstatus',
 'ciqtransaccountingmethod',
 'ciqtransaction',
 'ciqtransactionadvisortype',
 'ciqtransactionconditiontype',
 'ciqtransactioncontrolstake',
 'ciqtransactiondealapproach',
 'ciqtransactiondealattitude',
 'ciqtransactionfeetype',
 'ciqtransactionreltype',
 'ciqtransactionstaketype',
 'ciqtransactionstatus',
 'ciqtransactionstatustype',
 'ciqtransactiontoadvisor',
 'ciqtransactiontocompanyrel',
 'ciqtransactiontocompreltype',
 'ciqtransactiontype',
 'ciqtransactionuseofproceeds',
 'ciqtranscompanyreltype',
 'ciqtransconsiddetailscenario',
 'ciqtransconsidstatustype',
 'ciqtransconsidsubtype',
 'ciqtransconsidtype',
 'ciqtranscript',
 'ciqtranscriptcollectiontype',
 'ciqtranscriptcomponent',
 'ciqtranscriptcomponenttype',
 'ciqtranscriptdelayreason',
 'ciqtranscriptdelayreasontype',
 'ciqtranscriptperson',
 'ciqtranscriptpresentationtype',
 'ciqtranscriptspeakertype',
 'ciqtransdataitemmapping',
 'ciqtransfeatures',
 'ciqtransma',
 'ciqtransmaadvisor',
 'ciqtransmacompanyrel',
 'ciqtransmaconsiddetail',
 'ciqtransmaconsideration',
 'ciqtransmadatabit',
 'ciqtransmadatadate',
 'ciqtransmadatafinancial',
 'ciqtransmadatainteger',
 'ciqtransmadatanumeric',
 'ciqtransmadatavarchar',
 'ciqtransmastatustodate',
 'ciqtransmatocondition',
 'ciqtransmatoprimaryfeature',
 'ciqtransmatotransfeature',
 'ciqtransofferdatafinancial',
 'ciqtransoffering',
 'ciqtransofferingdatabit',
 'ciqtransofferingdatadate',
 'ciqtransofferingdatainteger',
 'ciqtransofferingdatanumeric',
 'ciqtransofferingdatavarchar',
 'ciqtransofferingdocuments',
 'ciqtransofferingfee',
 'ciqtransofferinglockup',
 'ciqtransofferingregistration',
 'ciqtransofferingrel',
 'ciqtransofferingstatustodate',
 'ciqtransofferingtoadvisor',
 'ciqtransofferingtoseller',
 'ciqtransoffersecuritydetail',
 'ciqtransoffertoprimaryfeat',
 'ciqtransoffertotransfeature',
 'ciqtransoffertouseofproceeds',
 'ciqtransprimaryfeaturetype',
 'ciqtranssecuritysubtype',
 'ciqtranssecuritytype',
 'ciqvaluetype',
 'ratings_ids',
 'spassessmentdata',
 'spassessmentleveldata',
 'spassessmenttype',
 'spentityleveldata',
 'spentitysector',
 'spentitysectorcode',
 'spindustrychar',
 'spindustrytype',
 'spinstrumentleveldata',
 'spinstrumentsector',
 'spinstrumentsectorcode',
 'spinstrumenttoentity',
 'spratinganalystcode',
 'spratingcollateraltype',
 'spratingcountry',
 'spratingcoupontype',
 'spratingcurrencytype',
 'spratingdata',
 'spratingdataitemtype',
 'spratingdebttype',
 'spratingidentifier',
 'spratingidentifiertype',
 'spratinginstrumenttype',
 'spratingleveldata',
 'spratingnaicscode',
 'spratingorgdebttype',
 'spratingprogramtype',
 'spratingpvtplacementtype',
 'spratingregion',
 'spratingroletype',
 'spratingsiccode',
 'spratingstate',
 'spratingtype',
 'spsecurityleveldata',
 'wrds_cik',
 'wrds_ciqsymbol',
 'wrds_compensation',
 'wrds_compensationdetails',
 'wrds_consideration_financials',
 'wrds_cusip',
 'wrds_debt',
 'wrds_eassessment',
 'wrds_entity_info',
 'wrds_equity',
 'wrds_erating',
 'wrds_gvkey',
 'wrds_inst_info',
 'wrds_irating',
 'wrds_isin',
 'wrds_keydev',
 'wrds_offerings',
 'wrds_offerings_advisors',
 'wrds_offerings_feat',
 'wrds_offerings_proceeds',
 'wrds_offerings_registration',
 'wrds_offerings_rel',
 'wrds_professional',
 'wrds_sassessment',
 'wrds_sec_info',
 'wrds_srating',
 'wrds_summary',
 'wrds_ticker',
 'wrds_trans_advisors',
 'wrds_trans_conditions',
 'wrds_trans_considerations',
 'wrds_trans_features',
 'wrds_transactions',
 'wrds_transcript_detail',
 'wrds_transcript_person']

# Access the table that links CIK to CIQ IDs

In [25]:
db.describe_table(library = "ciq", table = "wrds_cik")

Approximately 372840 rows in ciq.wrds_cik.

          name  nullable              type comment
0    companyid      True  DOUBLE_PRECISION    None
1          cik      True       VARCHAR(10)    None
2    startdate      True              DATE    None
3      enddate      True              DATE    None
4  companyname      True      VARCHAR(400)    None

In [26]:
CIK = tuple(sp_500['CIK'])

In [27]:
sql_query = 'SELECT * from ciq.wrds_cik WHERE cik IN'
sql_query += f'{CIK}'
sql_query
# Run query,  result in Pandas dataframe format
data = db.raw_sql(sql_query)
data

,companyid,cik,startdate,enddate,companyname
0,2.474830e+05,0000001800,None,None,Abbott Laboratories
1,1.688640e+05,0000002488,None,None,"Advanced Micro Devices, Inc."
2,2.483560e+05,0000002969,None,None,"Air Products and Chemicals, Inc."
3,2.494890e+05,0000004127,None,2002-06-25,"Alpha Industries, Inc."
4,1.462309e+06,0000004127,2002-06-26,None,"Skyworks Solutions, Inc."
...,...,...,...,...,...
520,6.312364e+08,0001792044,None,2020-11-10,Upjohn Inc.
521,6.537486e+08,0001821825,None,None,Organon & Co.
522,1.698380e+05,0001841666,None,None,APA Corporation
523,3.136719e+06,0001868275,None,None,Constellation Energy Corporation
524,1.804385e+09,0001932393,None,None,GE HealthCare Technologies Inc.

## Remove duplicated, legacy CIK entries

In [28]:
CIQ = data[data["enddate"].isna()]
CIQ

,companyid,cik,startdate,enddate,companyname
0,2.474830e+05,0000001800,None,None,Abbott Laboratories
1,1.688640e+05,0000002488,None,None,"Advanced Micro Devices, Inc."
2,2.483560e+05,0000002969,None,None,"Air Products and Chemicals, Inc."
4,1.462309e+06,0000004127,2002-06-26,None,"Skyworks Solutions, Inc."
6,4.162645e+08,0000004281,2016-10-28,None,Howmet Aerospace Inc.
...,...,...,...,...,...
519,2.902030e+05,0001792044,2020-11-11,None,Viatris Inc.
521,6.537486e+08,0001821825,None,None,Organon & Co.
522,1.698380e+05,0001841666,None,None,APA Corporation
523,3.136719e+06,0001868275,None,None,Constellation Energy Corporation
524,1.804385e+09,0001932393,None,None,GE HealthCare Technologies Inc.

In [29]:
# Analysis for duplicate S&P entries
# a = data[data["enddate"].isna()]
# b = sp_500["CIK"].to_list()
# empty = []
# for i in b:
#     if b.count(i) == 2:
#         empty.append(i)
# empty

# sp_500[sp_500["CIK"].isin(a["cik"])]

In [30]:
sp_500

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,0000109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952

# Access the tables that contain earnings transcript for given CIQs

In [31]:
db.describe_table(library = "ciq", table = "wrds_transcript_detail")

Approximately 1454740 rows in ciq.wrds_transcript_detail.

                              name  nullable              type comment
0                        companyid      True  DOUBLE_PRECISION    None
1                         keydevid      True  DOUBLE_PRECISION    None
2                     transcriptid      True  DOUBLE_PRECISION    None
3                         headline      True      VARCHAR(381)    None
4             mostimportantdateutc      True              DATE    None
5             mostimportanttimeutc      True  DOUBLE_PRECISION    None
6                keydeveventtypeid      True  DOUBLE_PRECISION    None
7              keydeveventtypename      True      VARCHAR(400)    None
8                      companyname      True      VARCHAR(400)    None
9       transcriptcollectiontypeid      True  DOUBLE_PRECISION    None
10    transcriptcollectiontypename      True      VARCHAR(200)    None
11    transcriptpresentationtypeid      True  DOUBLE_PRECISION    None
12  transcriptpresentationtypename      True      VARCHAR(200)    None
13      transcriptcreationdate_utc      True              DATE    None
14      transcriptcreationtime_utc      True  DOUBLE_PRECISION    None
15                  audiolengthsec      True  DOUBLE_PRECISION    None
16                  isdelayed_flag      True  DOUBLE_PRECISION    None
17               delayreasontypeid      True  DOUBLE_PRECISION    None
18             delayreasontypename      True      VARCHAR(600)    None

In [32]:
db.describe_table(library = "ciq", table = "wrds_transcript_person")

Approximately 75881768 rows in ciq.wrds_transcript_person.

                           name  nullable              type comment
0                  transcriptid      True  DOUBLE_PRECISION    None
1         transcriptcomponentid      True  DOUBLE_PRECISION    None
2                componentorder      True  DOUBLE_PRECISION    None
3     transcriptcomponenttypeid      True  DOUBLE_PRECISION    None
4   transcriptcomponenttypename      True      VARCHAR(400)    None
5            transcriptpersonid      True  DOUBLE_PRECISION    None
6          transcriptpersonname      True      VARCHAR(800)    None
7                         proid      True  DOUBLE_PRECISION    None
8               companyofperson      True      VARCHAR(800)    None
9                 speakertypeid      True  DOUBLE_PRECISION    None
10              speakertypename      True       VARCHAR(80)    None
11         componenttextpreview      True      VARCHAR(255)    None
12                   word_count      True  DOUBLE_PRECISION    None

In [33]:
db.describe_table(library = "ciq", table = "ciqtranscriptcomponent")

Approximately 75972808 rows in ciq.ciqtranscriptcomponent.

                        name  nullable      type comment
0      transcriptcomponentid      True   INTEGER    None
1               transcriptid      True   INTEGER    None
2             componentorder      True  SMALLINT    None
3  transcriptcomponenttypeid      True  SMALLINT    None
4         transcriptpersonid      True   INTEGER    None
5              componenttext      True   VARCHAR    None

In [34]:
CIQ_list = tuple(CIQ['companyid'])

In [35]:
def WRDSpuller(year, CIQ = CIQ_list):
    # Create a sql query string
    sql_query = '''SELECT a.companyid, a.transcriptid, a.headline, a.mostimportantdateutc, a.companyname, 
    b.word_count, c.componenttext FROM'''
    sql_query += f'(SELECT * FROM ciq.wrds_transcript_detail WHERE companyid in {CIQ}'
    sql_query += '''and date_part('year',mostimportantdateutc)='''
    sql_query += f'{year}'
    sql_query += ''' and keydeveventtypename = 'Earnings Calls')  as a, ciq.wrds_transcript_person as b, ciq.ciqtranscriptcomponent as c WHERE a.transcriptid=b.transcriptid and b.transcriptcomponentid=c.transcriptcomponentid
    ORDER by a.transcriptid, b.componentorder'''
    # Run query,  result in Pandas dataframe format
    transcripts = db.raw_sql(sql_query)
    transcripts.to_pickle(f'S&P{year}.pkl')
    return transcripts

In [17]:
transcripts_2013 = WRDSpuller(2013)
transcripts_2013 #can delete

,companyid,transcriptid,headline,mostimportantdateutc,companyname,word_count,componenttext
0,890498.0,400010.0,"The Mosaic Company, Q2 2013 Earnings Call, Jan...",2013-01-04,The Mosaic Company,36.0,"Good morning, ladies and gentlemen, and welcom..."
1,890498.0,400010.0,"The Mosaic Company, Q2 2013 Earnings Call, Jan...",2013-01-04,The Mosaic Company,196.0,"Thank you, and welcome to our second quarter f..."
2,890498.0,400010.0,"The Mosaic Company, Q2 2013 Earnings Call, Jan...",2013-01-04,The Mosaic Company,1739.0,"Good morning. And we at Mosaic wish you, all, ..."
3,890498.0,400010.0,"The Mosaic Company, Q2 2013 Earnings Call, Jan...",2013-01-04,The Mosaic Company,586.0,"Thank you, Jim, and good morning, everyone. As..."
4,890498.0,400010.0,"The Mosaic Company, Q2 2013 Earnings Call, Jan...",2013-01-04,The Mosaic Company,410.0,"Thank you, Larry. Global agriculture experienc..."
...,...,...,...,...,...,...,...
15611,317627.0,2520890.0,"Boston Scientific Corporation, Q3 2013 Earning...",2013-10-24,Boston Scientific Corporation,178.0,Yes. We thought it was important to support th...
15612,317627.0,2520890.0,"Boston Scientific Corporation, Q3 2013 Earning...",2013-10-24,Boston Scientific Corporation,41.0,And just one quick question on Vessix. Can you...
15613,317627.0,2520890.0,"Boston Scientific Corporation, Q3 2013 Earning...",2013-10-24,Boston Scientific Corporation,36.0,We are not publicizing the details of the IDE ...
15614,317627.0,2520890.0,"Boston Scientific Corporation, Q3 2013 Earning...",2013-10-24,Boston Scientific Corporation,40.0,"Okay. With that, we would like to conclude the..."
15615,317627.0,2520890.0,"Boston Scientific Corporation, Q3 2013 Earning...",2013-10-24,Boston Scientific Corporation,72.0,"Ladies and gentlemen, this conference will be ..."

In [18]:
transcripts_2014 = WRDSpuller(2014)
transcripts_2014 # can delete

,companyid,transcriptid,headline,mostimportantdateutc,companyname,word_count,componenttext
0,289030.0,565393.0,"Micron Technology Inc., Q1 2014 Earnings Call,...",2014-01-07,"Micron Technology, Inc.",57.0,"Good afternoon. My name is Saeed, and I'll be ..."
1,289030.0,565393.0,"Micron Technology Inc., Q1 2014 Earnings Call,...",2014-01-07,"Micron Technology, Inc.",211.0,"Thank you very much, and welcome to Micron Tec..."
2,289030.0,565393.0,"Micron Technology Inc., Q1 2014 Earnings Call,...",2014-01-07,"Micron Technology, Inc.",175.0,"During the course of this meeting, we may make..."
3,289030.0,565393.0,"Micron Technology Inc., Q1 2014 Earnings Call,...",2014-01-07,"Micron Technology, Inc.",14.0,And now I'd like to turn the call over to Mark...
4,289030.0,565393.0,"Micron Technology Inc., Q1 2014 Earnings Call,...",2014-01-07,"Micron Technology, Inc.",690.0,"Thanks, Kipp. I'd like to start today with an ..."
...,...,...,...,...,...,...,...
11398,319404.0,2511489.0,"Old Dominion Freight Line Inc., Q3 2014 Earnin...",2014-10-30,"Old Dominion Freight Line, Inc.",23.0,So the conclusion is the acceleration in LTL v...
11399,319404.0,2511489.0,"Old Dominion Freight Line Inc., Q3 2014 Earnin...",2014-10-30,"Old Dominion Freight Line, Inc.",73.0,"No, not at all. We're -- we focus on all of th..."
11400,319404.0,2511489.0,"Old Dominion Freight Line Inc., Q3 2014 Earnin...",2014-10-30,"Old Dominion Freight Line, Inc.",21.0,"And with no further questions, I'd like to tur..."
11401,319404.0,2511489.0,"Old Dominion Freight Line Inc., Q3 2014 Earnin...",2014-10-30,"Old Dominion Freight Line, Inc.",46.0,"Ladies and gentlemen, as we thank you for your..."
11402,319404.0,2511489.0,"Old Dominion Freight Line Inc., Q3 2014 Earnin...",2014-10-30,"Old Dominion Freight Line, Inc.",12.0,And this does conclude today's conference. Tha...

In [19]:
for i in range(2012, 2024):
    year_variable = "WRDSpuller_" + str(i)
    exec(year_variable + " = WRDSpuller(i)")
    print("Successfully pulled out for year", i)

Successfully pulled out for year 2016
Successfully pulled out for year 2017
Successfully pulled out for year 2018
Successfully pulled out for year 2019
Successfully pulled out for year 2020
Successfully pulled out for year 2021
Successfully pulled out for year 2022
Successfully pulled out for year 2023

In [36]:
for i in range(2003, 2013):
    year_variable = "WRDSpuller_" + str(i)
    exec(year_variable + " = WRDSpuller(i)")
    print("Successfully pulled out for year", i)

Successfully pulled out for year 2003
Successfully pulled out for year 2004
Successfully pulled out for year 2005
Successfully pulled out for year 2006
Successfully pulled out for year 2007
Successfully pulled out for year 2008
Successfully pulled out for year 2009
Successfully pulled out for year 2010
Successfully pulled out for year 2011

In [ ]:
transcripts_2013 = WRDSpuller(2013)
transcripts_2013 # can delete